<launch>
	<param name="car_id" value="1"/>
	<param name="udp_port" value="8888" />
	<param name="udp_rate" value="1"/>
	<param name="udp_lens" value="8"/>	
	
	<node pkg="multiwar" type="udp_server" name="to_others" output="screen" />
	<node pkg="multiwar" type="udp_client" name="other_robots" output="screen" />
</launch>