<launch>
  <master auto="start"/>

 
  <!-- Configure the serial pack -->
  <include file="$(find serial)/launch/serial.launch"/>

  <!-- Configure the car_config pack -->
  <include file="$(find autocar_nav)/launch/car_config.launch"/>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find autocar_nav)/map/RMmap-2.yaml">
  </node>

  <!-- Run the amcl location -->
  <include file="$(find amcl)/launch/amcl.xml"/>

  <!-- Configure the move_base pack -->
  <include file="$(find move_base)/launch/move_base.xml"/>

  <!-- Run the rosbag -->
  <!-- 
  <node pkg="rosbag" type="record" name="bag_record" args="/cmd_vel" />
  -->

</launch>
